/*main css background*/

body {
background-color: #E1F5FE;
}
h1{
  color:black;
  padding:20px 20px;
  text-align: center;
}
h2{
  font-size: 30px;
  padding-left: 20px;
}
p{
  color:black;
}
h3{
  font-style: italic;
  font-size: 20px;
  padding-left: 20px;
}
li{
list-style-type: none;
padding-top: 20px;
}

/*main content*/

.cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  max-height: 200vh;
}
.card {
  width: 325px;
  margin: 30px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}
.card img {
  max-width: 100%;
}
.card .text {
  padding: 20px 20px 20px;
  color: black;
}
.card .text > button {
  background: #d6f8bf;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
}
#icon{
  padding-left: 20px;
}
/*footer*/
footer{
    padding: 20px 20px 20px;
    text-align: center;
  }
