/*main css background*/

body {
background-color: #E1F5FE;
}
h1{
  color:black;
  padding:20px 20px;
  text-align: center;
}
h2{
  font-size: 30px;
  padding-left: 20px;
}
p{
  color:black;
}
h3{
  font-style: italic;
  font-size: 20px;
  padding-left: 20px;
}
li{
list-style-type: none;
padding-top: 20px;
}


}
/*footer*/
footer{
    padding: 20px 20px 20px;
    text-align: center;
  }